.banjeer-container{
  display       : flex;
  flex-flow     : row wrap;
  padding       : 2em 5em;
  justify-content: space-between;
}
.banjeer-container>div{
  width         : 48%;
  min-width     : 512px;
}
.banjeer-container .banjeer-upload-form{
  display       : flex;
  flex-flow     : column wrap;
}
.banjeer-upload-input{
  display       : flex;
  flex-flow     : row wrap;
  align-items   : center;
}
.banjeer-upload-input>div{
  margin-right  : 1em;
}
.banjeer-upload-title{
  font-size     : 2em;
  font-weight   : 900;
  margin-bottom : 1em;
}
.help-text{
  width         : 40vw;
  min-width     : 300px;
  max-width     : 90vw;
}
.help-text p{
  text-align    : justify;
}
.banjeer-prev-img img{
  width         : 40vw;
  min-width     : 300px;
  max-width     : 90vw;
}
.banjeer-prev-title, .banjeer-result-title{
  font-size     : 2em;
  font-weight   : 900;
}
.banjeer-upload-form{
  margin-bottom : 2em;
}

input{
  font-size     : 1em;
}

button{
  background-color: #5a9cabff;
  padding         : 1em 2em;
  border          : 0;
  border-radius   : 0.5em;
  color           : white;
  font-weight     : 900;
  font-size       : 1em;
}
button:hover{
  background-color: rgb(50, 116, 131);
}

.banjeer-result-image img{
  width         : 40vw;
  min-width     : 300px;
  max-width     : 90vw;
}
.banjeer-result-image.show{
  display         : block
}
.banjeer-result-image.hide{
  display         : none;
}
.banjeer-loading{
  font-size       : 2em;
  display         : flex;
  flex-flow       : column wrap;
  align-items     : center;
  justify-content : center;
  font-weight     : 900;
  height          : 50vh;
  width           : 40vw;
  min-width       : 300px;
  border          : 2px rgb(50, 116, 131) solid;
}

.banjeer-help{
  display         : flex;
  flex-flow       : column;
}

.banjeer-help>div{
  width         : 40vw;
  min-width     : 300px;
  max-width     : 90vw;
}
.banjeer-help .banjeer-color{
  width           : 20%;
  margin-right    : 1em;
  height          : 1em;
}
.banjeer-help-block{
  display         : flex;
  flex-flow       : row wrap;
}
.banjeer-color.green{
  background-color: greenyellow;
}
.banjeer-color.red{
  background-color: red;
}
.banjeer-color.yellow{
  background-color: yellow;
}